.footer-section-wrapper{
  width: 100%;
  margin-top: 15rem;
  height: 10rem;
  color: white;
  box-shadow: 0px -1px 1px 0px rgb(128, 123, 123);
}
.footer{
  width: 100%;
  margin: auto;
  @include flex($alignItems:flex-start,$justifyContent:space-between,$flexDirection:row);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(22, 21, 21);
  font-weight: 500;

  .left-section{
    @include flex($alignItems:flex-start,$justifyContent:space-between,$flexDirection:column);
    gap: 1rem;
    font-size: var(--fs-sm);
    width: 40%;
    background-color: white;
    padding: 5rem 8rem;
    height: 100%;
    img{
      width: 20rem;
    }
    strong{
      font-family: var(--ff-primary);
    }
  }
  .right-section{
    flex-grow: 1;
    background-color: #F4EEA9;
    padding: 5rem 8rem;
    height: 100%;
    width: 50%;
    @include flex($alignItems:flex-start,$justifyContent:unset,$flexDirection:row);
    gap: 7rem;
    font-size: var(--fs-sm);
    strong{
      font-family: var(--ff-primary);
    }
    ul{
      list-style: none;

      li{
        cursor: pointer;
        margin-bottom: .6rem;
      }
    }

    .col1,
    .col2{
      @include flex($alignItems:flex-start,$justifyContent:space-between,$flexDirection:column);
      gap: 2rem;
    }
  }
}

@media screen and (max-width:850px) {
  .footer{
    .left-section,
    .right-section{
      padding: 2rem 2rem;
    }
  }
}

@media screen and (max-width:630px) {
  .footer-section-wrapper{
    height: auto;
  }
  .footer{
    flex-direction: column;
    align-items: center;
    .left-section,
    .right-section{
      padding: 2rem 4rem;
      width: 100%;
    }
  }

}