
@mixin flex($alignItems,$justifyContent,$flexDirection) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $flexDirection;
}

@mixin position($position,$top,$left,$bottom,$right) {
  position: $position;
  top:$top;
  left:$left;
  bottom: $bottom;
  right:$right;
}