@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import './mixin';
@import './header';
@import './herobanner';
@import './intro';
@import './testimonial';
@import './contact';
@import './footer';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  font-size: 62.5%;
}

body{
  overflow-x: hidden;
}

:root{
  --ff-primary:'Poppins', sans-serif;
  // --ff-secondary:'Work Sans', sans-serif;

  --text-color:rgb(31, 30, 30);
  --fs-lg:6rem;
  --fs-md:4rem;
  --fs-sm:1.8rem;
  --fs-xs:1.5rem
}

.translateY{
  transform: translateY(50%);
}
.main-wrapper{
  max-width: 1440px;
  margin: auto;
  position: relative;
}

.show-mobile-nav{
  transform: translateY(0%) !important;
}

@media screen and (max-width:880px) {
  
  
  :root{
    --fs-lg:4.5rem;
    --fs-md:4rem;
    --fs-sm:1.5rem;
    --fs-xs:1.5rem
  }
}

@media screen and (max-width:650px) {
  :root{
    --fs-lg:3.4rem;
    --fs-md:2.7rem;
    --fs-sm:1.5rem;
    --fs-xs:1.2rem
  }
}
@media screen and (max-width:500px) {
  :root{
    --fs-md:2.2rem;
  }
}